Flask==1.1.1
flask-cors==3.0.10
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
waitress==2.1.1

googletrans==3.1.0a0
SpeechRecognition==3.8.1

nltk==3.5
tensorflow
pandas>=0.19
numpy>=1.9.2
pickleshare==0.7.5

json5==0.9.5
regex==2020.10.15
